<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="pr pr-med"> پنل کاربری <small class="pr-sml">داشبورد</small></h1>
        <!--<ol class="breadcrumb">-->
            <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
            <!--<li><a href="#">Examples</a></li>-->
            <!--<li class="active">Blank page</li>-->
        <!--</ol>-->
    </section>

    <!-- Main content -->

    <section class="content">

        <div class="callout callout-info pr pr-sml">
            <h4 class="pr pr-med">یادآوری!</h4>
            <p>
                <a href="#" class="link">
                    امروز		</a>
                جلسه در مورد بررسی وضعیت سایت
            </p>
            <h4 class="pr pr-med">
                <i class="fa fa-group"></i> حضار:
            </h4>
            <a href="#">ارجمند</a>
            ،
            <a href="#">حسین زاده</a>
            ،
            <a href="#">قاسمی</a>
        </div>


        <!-- first row -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 pr">
                <div class="info-box">
                    <!-- Apply any bg-* class to to the icon to color it -->
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope"></i></span>
                    <div class="info-box-content"> <span class="info-box-text pr-lg">پیام ها</span> <span class="pr-med">2</span> </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pr">
                <div class="info-box">
                    <!-- Apply any bg-* class to to the icon to color it -->
                    <span class="info-box-icon bg-orange"><i class="fa fa-bookmark"></i></span>
                    <div class="info-box-content"> <span class="info-box-text pr-lg">اتفاق ها</span> <span class="pr-med">3</span> </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pr">
                <div class="info-box">
                    <!-- Apply any bg-* class to to the icon to color it -->
                    <span class="info-box-icon bg-green"><i class="fa fa-group"></i></span>
                    <div class="info-box-content"> <span class="info-box-text pr-lg">جلسات</span> <span class="pr-sml">1393/12/24</span> </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-success pr pr-sml">
                    <div class="box-header">
                        <h3 class="box-title pr pr-med">لیست اعضا</h3>
                        <div class="pull-left">
                            <div class="box-tools"> <span class="label label-success">15</span> </div>
                            <!-- /.box-tools -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover table-striped pr pr-sml">
                            <tbody>
                            <tr>
                                <th style="width: 50px;">ردیف</th>
                                <th style="width: 300px;">نام</th>
                                <th>کارگروه(ها)</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>الیاس قاسمی</td>
                                <td>پژوهش</td>
                                <td class="text-left"><a href="#" class="fa fa-edit text-green" data-toggle="tooltip" title="ویرایش"></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>مهران ارجمند</td>
                                <td>فرهنگ و ارتباطات</td>
                                <td class="text-left"><a href="profile.html" class="fa fa-edit text-green" data-toggle="tooltip" title="ویرایش"></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>سجاد حسین زاده</td>
                                <td>آموزش</td>
                                <td class="text-left"><a href="#" class="fa fa-edit text-green" data-toggle="tooltip" title="ویرایش"></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>امید ماهری</td>
                                <td>حمل و نقل</td>
                                <td class="text-left"><a href="#" class="fa fa-edit text-green" data-toggle="tooltip" title="ویرایش"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-left">
                            <li><a href="#" class="fa fa-caret-left"></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" class="fa fa-caret-right"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Default box -->
                <div class="box box-info pr">
                    <div class="box-header with-border"> <span class="box-title pull-right pr-med">عنوان</span>
                        <div class="pull-left">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="کوچک کردن"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="حذف کردن"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body"> گروه دانشجویی باران</div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>