<footer class="main-footer pr pr-sml">
    <div class="pull-left hidden-xs pr pr-sml"><%= typeof v != "undefined" ? "نسخه " + v : "" %></div>
    <span>تمامی حقوق این سایت محفوظ است.<a target="_blank" href="http://barang.ir">گروه دانشجویی باران</a></span> </footer>