<!DOCTYPE html>
<html lang="en" dir="rtl" id="html" xmlns="http://www.w3.org/1999/html">
<head>
    <% include meta %>

    <title>ACM</title>
<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="../css/fonts.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
</head>
    <div align="center">
        <body>
        <br><br><br><br><br>
            <form action="" method="post">
                نام کاربری: <input type="text" name="username" align="center"> </input><br>
                کلمه عبور  :  <input type="password" name="password"> </input><br>
                <br>
                <button type="submit" class="btn btn-primary">ورود</button>
            </form>
        </body>
	<script src="/js/lib/bootstrap.min.js"></script>
    </div>
</html>
