
<div class="row">
	<div class="col-md-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h2 class="box-title"><i class="fa fa-globe fa-fw"></i> گزارش اعزام به مراکز</h2>
			</div>
			<div class="box-body no-padding" ng-cloak>
				<table class="table table-hover table-striped selectable-row">
					<thead>
						<tr>
							<th>رابط</th>
							<th>مرکز</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="!dispatches || !dispatches.length">
							<td colspan="2">
								<h4><i class="fa fa-coffee fa-fw"></i> لیست خالیست</h4>
							</td>
						</tr>
					<tr ng-if="dispatches && dispatches.length" ng-repeat="x in dispatches" ng-click="selectRow(x)" ng-class="{'bg-blue' : x._id == selected._id}">
							<td>{{getFullName(x._leader)}}</td>
							<td>{{x._station.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="box-footer"></div> -->
			<div class="overlay" ng-show="isLoading"><i class="fa fa-spinner fa-pulse"></i></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box box-solid" ng-if="selected">
			<div class="box-header with-border">
				<h2 class="box-title"><i class="fa fa-info-circle fa-fw"></i>جزئیات</h2>
			</div>
			<div class="box-body">
				<dl class="dl-horizontal">
					<dt>رابط:</dt>
					<dd>{{getFullName(selected._leader)}}</dd>
					<dt>تاریخ:</dt>
					<dd>{{x.date}}</dd>
					<dt>مرکز:</dt>
					<dd>{{x._station.name}}</dd>
					<dt>توضیحات</dt>
					<dd>{{x.comment}}</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

