<section id="browsers">
  <h1 class="page-header">
    <span>ظاهر سیستم روی رایانه من به صورت بهم ریخته نمایش داده میشود؟</span>
  </h1>
  <p class="lead">شما باید از نسخه جدید مرورگرها از جمله:</p>
  <ul>
    <li><i class="fa fa-IE"></i><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">اینترنت اکسپلورر(9+)
    </a></li>
    <li><a target="_blank" href="http://www.mozilla.com/en-US/firefox/new/">فایرفاکس</a></li>
    <li><a target="_blank" href="http://www.apple.com/safari/">سافاری</a></li>
    <li><a target="_blank" href="http://www.google.com/chrome/intl/en/landing_chrome.html?hl=en">کروم</a></li>
    <li><a target="_blank" href="http://www.opera.com/">اپرا</a></li>
  </ul>
  <p class="lead">استفاده کنید.</p>
</section>
<section id="other-devices">
  <h1 class="page-header">
    <span>آیا امکان استفاده از این سیستم توسط دستگاه های دیگر مثل موبایل و تبلت وجود دارد؟</span>
  </h1>
  <p class="lead">
    <b>بله.</b> شما به همه ی قابلیت های این سیستم در دستگاه های دیگر دسترسی دارید.
  </p>
</section>
<section id="report-us">
  <h1 class="page-header">
  <span>راه حل مشکلتان را پیدا نکردید؟</span>
  </h1>
  <p class="lead"><a href="#/bug-report">آن را با ما در میان بگذارید.</a></p>  
</section>