<div class="row">
	<div class="col-lg-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<p class="box-title">لاگ سرور</p>
				<div class="pull-left">
					<button type="button" class="btn btn-default" ng-click="getLogs();"><i class="fa fa-refresh" ng-class="{'fa-spin' : isLoading}"></i></button>
				</div>
			</div>
			<div class="box-body no-padding table-responsive">
				<div class="input-group margin">
					<span class="input-group-addon">تعداد</span>
					<input class="form-control" type="text" ng-model="logsLength" >
					<span class="input-group-addon"><label><input type="checkbox" ng-model="autoReload"> بارگذاری خودکار</label></span>
				</div>	
				<table class="pr-en table table-hover table-striped">
					<tr ng-repeat="log in logs track by $index">
						<td>{{log}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>