
<div class="row">
	<div class="col-md-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<h2 class="box-title"><i class="fa fa-shopping-cart fa-fw"></i> گزارش مالی</h2>
			</div>
			<div class="box-body no-padding" ng-cloak>
				<table class="table table-hover table-striped selectable-row">
					<thead>
						<tr>
							<th>نام صادر کننده</th>
							<th>هزینه</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="!finance || !finance.length">
							<td colspan="2">
								<h4><i class="fa fa-coffee fa-fw"></i>لیست خالیست</h4>
							</td>
						</tr>
					<tr ng-if="finance && finance.length" ng-repeat="x in finance" ng-click="selectRow(x)" ng-class="{'bg-blue' : x._id == selected._id}">
							<td>{{x._owner | fullname}}</td>
							<td>{{x.cost | toman}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="box-footer"></div> -->
			<div class="overlay" ng-show="isLoading"><i class="fa fa-spinner fa-pulse"></i></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box box-solid" ng-if="selected">
			<div class="box-header with-border">
				<h2 class="box-title"><i class="fa fa-info-circle fa-fw"></i>جزئیات</h2>
			</div>
			<div class="box-body">
				<dl class="dl-horizontal">
					<dt>صادر کننده:</dt>
					<dd>{{selected._owner | fullname}}</dd>
					<dt>تاریخ:</dt>
					<dd>{{selected._dispatch.date}}</dd>
					<dt>مرکز:</dt>
					<dd>{{selected._dispatch._station.name}}</dd>
					<dt>هزینه:</dt>
					<dd>{{selected.cost | toman	}}</dd>
					<dt>فاکتور دارد:</dt>
					<dd>{{selected.have_factor | farsimal}}</dd>
					<dt>دریافت شده:</dt>
					<dd>{{selected.pony | farsimal}}</dd>
					<dt>جزئیات:</dt>
					<dd>{{selected.comment}}</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

