<div class="row">
 	<div class="col-xs-12 col-md-8">
		<ul class="timeline" infinite-scroll="getData()" infinite-scroll-immediate-check="true" infinite-scroll-disabled='isFinished'>
			<!-- timeline time label -->
			<li class="time-label" ng-repeat-start="x in remeberances">
				<span class="bg-green" ng-if="$index == 0 || remeberances[$index -1].date != x.date">
					{{x.date | beautydate}}
				</span>
			</li>
			<!-- /.timeline-label -->

			<!-- timeline item -->
			<li ng-repeat-end>
				<!-- timeline icon -->
				<i class="fa fa-envelope bg-blue"></i>
				<div class="timeline-item">
					<span class="time">{{x.time}} <i class="fa fa-clock-o"></i></span>

					<h3 class="timeline-header">{{x.index + "#  - " + x.title + " / "
                        + "" + x._writer.first_name + " " + x._writer.last_name}}</h3>

					<div class="timeline-body">
						<p class="pre">
							{{x.text}}
						</p>

					</div>

					<div class='timeline-footer'>
						<!-- <a class="btn btn-primary btn-xs">دیدگاه ها</a> -->
						<div class="btn-group ">
							<button type="button" class="btn btn-success btn-xs" ng-click="likeThis($index)">پسندیدم</button>
							<button type="button" class="btn btn-success dropdown-toggle btn-xs">{{x.like.length}}</button>
						</div>
					</div>
				</div>
			</li>
			<!-- END timeline item -->
			<li>
				<i class="fa fa-spinner fa-spin bg-gray" ng-show="isLoading"></i>
				<i class="fa fa-clock-o bg-gray" ng-show="isFinished || !isLoading"></i>
			</li>
		</ul>
	</div>
</div>
