<div class="row">
	<div class="col-lg-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<p class="box-title"><i class="fa fa-envelope-o"></i>	ارسال پیامک</p>
			</div>
			<form name="SendSMSForm" ng-submit="sendSMS()">
				<div class="box-body">
					<div class="form-group" style="position: relative;">
						<textarea name="sms-message" ng-model="sms.text" class="form-control" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #DDD; padding: 10px; resize: vertical;" placeholder="متن پیام ..."></textarea>
						<p class="margin text-left label label-default" style="position: absolute; bottom: 0; left: 0;">{{getSMSCount()+' پیام'}} ، {{sms.text.length + '/' + getSMSCount() * maxCharCount}}</p>
					</div>
					<div class="form-group">
						<label>گروه مخاطبین:	<small class="help-block">کسانی که یکی از شرایط زیر را داشته باشند پیام را دریافت خواهند کرد.</small></label>
						<div class="row">
							<label class="col-lg-3"> 
								<input type="checkbox" ng-model="sms.contacts.gender.male">
								آقایان 
							</label>
							<label class="col-lg-3" >
								<input type="checkbox" ng-model="sms.contacts.gender.female">
								خانم ها
							</label>
							<label class="col-lg-6">
								<input type="checkbox" ng-model="sms.contacts.university">
								دانشجویان دانشگاه صنعتی سجاد
							</label>
							<label class="col-lg-3">
								<input type="checkbox" ng-model="sms.contacts.active">
								نیروهای فعال
							</label>
						</div>	
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-default"\>ارسال پیامک <i class="fa fa-send"></i></button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<p class="box-title"><i class="fa fa-info-circle"></i>	اطلاعات پنل</p>
				<div class="pull-left">
					<button type="button" class="btn btn-sm btn-default" ng-click="getPanelDetail()"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="box-body">
				<dl class="dl-horizontal">
					<dt ng-repeat-start="(title, value) in panel">{{title}}</dt>
					<dd class="pr-numb text-right" ng-repeat-end>{{value}}</dd>
				</dl>
			</div>
			<div ng-if="isLoading" class="overlay"><i class="fa fa-spinner fa-spin"></i></div>
		</div>
	</div>
</div>
