<div class="row">
    <div class="col-lg-12">
        <!-- <div class="box box-solid" ng-cloak> -->
        <form name="myForm" ng-submit="editUser(selectedUser)">
            <!-- <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-edit"></i> نتیجه آرا </h3>
                </div> -->
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Content -->

                <!-- <div class="row"> -->
                <!-- </div> -->

                <!-- <h3 align='center'> تعداد کل آرا : {{all_votes}} </h3> -->



                <!-- <img src="http://192.168.43.33:8080/videofeed" alt="http://192.168.43.33:8080/videofeed"> -->



                <div ng-repeat="nominate in nominated">
                    <div class="col-lg-5 col-xs-5" ng-if="nominate.url">
                        <!-- <a href ng-click="add_vote(nominate)"> -->
                            <!-- <div class="small-box bg-light-blue"> -->
                                <div class="inner">
                                    <!-- <h1 align='center'><b>{{nominate.name}} - {{nominate.votes}}<b/></h1> -->
                                    <img align='center' ng-if="nominate.url" src="{{nominate.url}}" alt="{{nominate.url}}">
                                    <br />
                                </div>
                                <!-- <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div> -->
                            <!-- </div> -->
                        <!-- </a> -->
                    </div>
                </div>

                <!-- <div class="col-lg-1 col-md-1 col-xs-1">
                    <button ng-click="undo();" class="btn btn-block btn-info">undo</button>
                </div> -->
            </div>
            <div class="box-footer" ng-if="canEdit && selectedUser">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <button type="submit" class="btn btn-success btn-block" ng-disabled="Deactive || hasError()">ویرایش</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="overlay" ng-show="isSending"><i class="fa fa-spinner fa-spin"></i></div>

        <!-- </div> -->
    </div>
</div>
