<div class="row">
    <div class="col-lg-12">
        <form name="myForm" ng-submit="editUser(selectedUser)">
            <div class="box-body">
                <div ng-repeat="nominate in nominated">
                    <div class="col-lg-3 col-xs-3">
                        <a href ng-click="add_vote(nominate)">
                            <div class="small-box bg-light-blue">
                                <div class="inner">
                                    <h1 align='center'><b>{{nominate.name}} </h1>
                                    <h2 align='center'><b>{{nominate.votes}}</b></h2>
                                    <h3 align='center'> % {{nominate.precent || 0}} </h3>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-1 col-md-1 col-xs-1">
                    <button ng-click="undo();" class="btn btn-block btn-info">undo</button>
                </div>
            </div>
            <div class="box-footer" ng-if="canEdit && selectedUser">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <button type="submit" class="btn btn-success btn-block" ng-disabled="Deactive || hasError()">ویرایش</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="overlay" ng-show="isSending"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>
