<div class="error-page">
	<h2 class="headline text-red" style="font-size: 100px !important;">403</h2>
	<div class="error-content pr">
		<h3><i class="fa fa-warning text-red "></i> عدم دسترسی به این صفحه</h3>
		<p>
			شما اجازه ورود به این صفحه را ندارید.
			شاید در <a href="#/dashboard">داشبور</a> آن را یافتید.
		</p>

	</div><!-- /.error-content -->
</div>