<div class="error-page">
	<h2 class="headline text-yellow" style="font-size: 100px !important;">404</h2>
	<div class="error-content pr">
		<h3><i class="fa fa-warning text-yellow "></i> خطا رخ داده است</h3>
		<p>
			صفحه مورد نظر شما یافت نشد.
			شاید در <a href="#/dashboard">داشبور</a> آن را یافتید.
		</p>

	</div><!-- /.error-content -->
</div>