<link rel="stylesheet" type="text/css" href="views/angular-animate.css">
<div class="row">
  <div class="col-lg-4">
    <div class="box box-primary pr" >
      <!-- .box-header -->
      <div class="box-header">
        <h3 class="box-title" >لیست اعضا</h3>
        <div class="pull-left">
          <!-- /.box-header -->
          <div class="box-tools">
            <button class="btn btn-box-tool" ng-init="_show_search_box = false;" ng-click="_show_search_box = !_show_search_box"><a href><i class="fa" ng-class="{'fa-search' : !_show_search_box ,'fa-chevron-up' : _show_search_box}"></i></a></button>
            <span class="label label-primary">{{users.length}}</span>
          </div>
          <!-- /.box-tools -->
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <form name="searchBox" ng-show="_show_search_box" ng-submit="search(query)" style="background-color: #f9f9f9; padding: 5px;">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="جستجو" ng-model="query.first_name">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-flat btn-default"><i class="fa fa-search"></i></button>
              </div><!-- /btn-group -->
            </div>
            <!-- <button type="button" class="btn btn-flat btn-default">جستجوی پیشرفته</button> -->
          </form>
          <table class="table table-hover table-striped selectable-row">
            <thead>
              <tr>
                <th style="width: 50px;">ردیف</th>
                <th style="width: 300px;">نام</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <div class="input-group">
              </div>
              <tr ng-repeat="user in users | filter : query" ng-model="user" ng-click="selectUser(user)" ng-class="{'bg-blue' : user._id == selectedUser._id}">
                <td >{{$index + 1}}</td>
                <td >{{user.first_name + ' ' + user.last_name}}</td>
                <td class="text-left"><a href="profile.html" data-toggle="tooltip" title="ویرایش"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-left">
            <li ng-class="{disabled : datatable.currentPage == 1}" ng-click="paging(datatable.currentPage - 1)"><a href >&gt;</a></li>
            <li ng-repeat="page in datatable.indicators" ng-class="{'active' : datatable.currentPage == page}" ng-click="datatable.currentPage = page"><a href>{{page}}</a></li>
            <li ng-class="{disabled : datatable.currentPage >= datatable.maxPage}" ng-click="paging(datatable.currentPage + 1)"><a href >&lt;</a></li>
          </ul>
        </div>
        <div class="overlay" ng-show="users == null || isLoading"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="box box-success pr">
        <div class="box-header with-border">
          <h3 class="box-title">اطلاعات کاربر</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- Content -->
          <div ng-hide="!selectedUser">
            <h2>اطلاعات فردی</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group" ng-class="{'has-error' : myForm.first_name.$touched && myForm.first_name.$invalid}">
                  <span class="input-group-addon pr pr-sml text-blue">نام<small class="text-red"> *</small></span>
                  <input type="text" class="form-control pr pr-sml" name="first_name" ng-model="selectedUser.first_name" ng-disabled="!canEdit" required>
                </div>
              </div>
              <br class="hidden-lg">
              <div class="col-lg-6">
                <div class="input-group" ng-class="{'has-error' : myForm.last_name.$touched && myForm.last_name.$invalid}">
                  <span class="input-group-addon pr pr-sml text-blue">نام خانوادگی<small class="text-red"> *</small></span>
                  <input type="text" class="form-control pr pr-sml" name="last_name" ng-model="selectedUser.last_name" ng-disabled="!canEdit" required>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="input-group">
                  <label>
                    <input type="radio" ng-value="true" name="gender" ng-model="selectedUser.gender" ng-disabled="!canEdit" required/>
                    مرد
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="input-group">
                  <label>
                    <input type="radio" ng-value="false" name="gender" ng-model="selectedUser.gender" ng-disabled="!canEdit" required/>
                    زن
                  </label>
                </div>
              </div>
            </div>
            <br>
            <div class="input-group" ng-class="{'has-error' : myForm.email.$touched && myForm.email.$invalid}">
              <span class="input-group-addon pr pr-sml text-blue" >ایمیل</span>
              <input type="email" class="form-control pr-en" name="email" ng-model="selectedUser.email" ng-disabled="!canEdit">
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6"  ng-class="{'has-error' : myForm.telephone_number.$touched && myForm.telephone_number.$invalid}">
                <div class="input-group" ng-class="{'has-error' : myForm.telephone_number.$touched && myForm.telephone_number.$invalid}">
                  <span class="input-group-addon pr pr-sml text-blue">
                    تلفن ثابت
                  </span>
                  <input type="text" class="form-control pr pr-numb pr-sml text-left" name="telephone_number" ng-model="selectedUser.telephone_number" ng-pattern="/^0[0-9]{10}$/" ng-disabled="!canEdit" placeholder="مثال: 05138471234">
                </div>
              </div>
              <br class="hidden-lg">
              <div class="col-lg-6">
                <div class="input-group" ng-class="{'has-error' : myForm.mobile.$touched && myForm.mobile.$invalid}">
                  <span class="input-group-addon pr pr-sml text-blue" >
                    شماره همراه<small class="text-red"> *</small>
                  </span>
                  <input type="text" class="form-control pr pr-numb pr-sml text-left" name="mobile" ng-model="selectedUser.mobile" ng-pattern="/^09[0-9]{9}$/" placeholder="مثال: 09151234568" ng-disabled="!canEdit" required>
                </div>
              </div>
            </div>
            <br>
            
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <label>
                    <input type="checkbox" name="native" ng-model="selectedUser.native" ng-change="selectedUser.native ?  selectedUser.city = 'مشهد' : selectedUser.city=''" ng-disabled="!canEdit">
                    ساکن مشهد
                  </label>
                </div>
              </div>
              <br class="hidden-lg">
              <div class="col-lg-6">
                <div class="input-group" >
                  <span class="input-group-addon pr pr-sml text-blue">
                    شهر
                  </span>
                  <input type="text" class="form-control pr pr-sml" name="city" ng-model="selectedUser.city" ng-disabled="selectedUser.native || !canEdit">
                </div>
              </div>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon pr pr-sml text-blue">
                آدرس
              </span>
              <input type="text" class="form-control pr pr-sml" name="address" ng-model="selectedUser.address"  ng-disabled="!canEdit">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon pr pr-sml text-blue">تاریخ تولد</span>
              <div class="input-group">
                <span class="input-group-addon pr pr-sml text-blue">روز</span>
                <select class="form-control pr pr-sml text-center" name="birth_date_day" ng-model="selectedUser.birth_day" ng-options="year for year in BirthDateList.Days"  ng-disabled="!canEdit">
                  <script>
                  
                  </script>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon pr pr-sml text-blue">مـاه</span>
                <select class="form-control pr pr-sml text-center" name="birth_date_month" ng-model="selectedUser.birth_month" ng-options="year for year in BirthDateList.Mounths"  ng-disabled="!canEdit">
                  
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon pr pr-sml text-blue">سال</span>
                <select class="form-control pr pr-sml text-center" name="birth_date_year" ng-model="selectedUser.birth_year" ng-options="year for year in BirthDateList.Years"  ng-disabled="!canEdit">
                  
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <label class="pr-sml">
                    <input type="checkbox" name="sadjad_student" ng-model="selectedUser.university" ng-true-value="'صنعتی سجاد'" ng-false-value="''"  ng-disabled="!canEdit"/>
                    دانشجوی دانشگاه صنعتی سجاد مشهد
                  </label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group" >
                  <span class="input-group-addon pr pr-sml text-blue">دانشگاه</span>
                  <input type="text" class="form-control pr pr-sml" name="university" ng-model="selectedUser.university" ng-disabled="selectedUser.university == 'صنعتی سجاد' || !canEdit">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group pr">
                  <label class="pr-sml">
                    <input type="checkbox"  name="_free_of_edu" ng-model="selectedUser._free_of_edu"  ng-disabled="!canEdit"/>
                    فارغ التحصیل
                  </label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon pr pr-sml text-blue">شماره دانشجویی</span>
                  <input type="text" class="form-control pr-numb" ng-model="selectedUser.student_number" ng-disabled="selectedUser._free_of_edu || !canEdit" >
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group" >
                  <span class="input-group-addon pr pr-sml text-blue">رشته</span>
                <select class="form-control pr pr-sml text-right" ng-model="selectedUser.major" ng-options="getMajorValue(major) as major.name group by major.group for major in majorsList"  ng-disabled="!canEdit"></select>
              </div>
            </div>
            <br class="hidden-lg">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon pr pr-sml text-blue">سال ورود به دانشگاه</span>
                <select class="form-control pr pr-sml text-center" ng-model="selectedUser.entering_uni_year"  ng-disabled="!canEdit">
                  
                </select>
              </div>
            </div>
          </div>
          <br>
          <h2>اطلاعات گروه</h2>
          <br> 
          <div class="row">
            <div class="col-lg-4  col-md-4">
              <div class="input-group pr">
                <label class="pr-sml">
                  <input type="checkbox" ng-model="selectedUser._visited"  ng-disabled="!canEdit"/>
                  فرم ثبت نام بررسی شده
                </label>
              </div>
            </div>
            <div class="col-lg-4  col-md-4">
              <div class="input-group pr">
                <label class="pr-sml">
                  <input type="checkbox" ng-model="selectedUser._justified"  ng-disabled="!canEdit"/>
                  توجیه شده
                </label>
              </div>
            </div>
            <div class="col-lg-4  col-md-4">
              <div class="input-group pr">
                <label class="pr-sml">
                  <input type="checkbox" ng-model="selectedUser._called"  ng-disabled="!canEdit"/>
                  تماس گرفته شده
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4  col-md-4">
              <div class="input-group pr">
                <label class="pr-sml">
                  <input type="checkbox" ng-model="selectedUser.have_job"  ng-disabled="!canEdit"/>
                  شاغل
                </label>
              </div>
            </div>
            <div class="col-lg-4  col-md-4">
              <div class="input-group pr">
                <label class="pr-sml">
                  <input type="checkbox" ng-model="selectedUser._active"  ng-disabled="!canEdit"/>
                  نیروی فعال
                </label>
              </div>
            </div>
          </div>
          <!-- <h2>فعالیت ها</h2> -->
          <h4>علاقه مند به تدریس در کدام مقطع(ها) می باشید.</h4>
          <div class="form-group pr">
            <select class="form-control pr pr-sml" name="age_group_decide" ng-model="selectedUser.age_group_decide" ng-options="age for age in agesList"  ng-disabled="!canEdit" multiple>
            </select>
          </div>
          <p class="help-block">(برای انتخاب چند گزینه کلید Ctrl را نگهدارید)</p> <br>
          <h4>توانایی تدریس در کدام دروس را دارید؟</h4>
          <div class="form-group pr">
            <select class="form-control pr pr-sml" name="lessons" ng-model="selectedUser.teaching_lessons" ng-options="lesson for lesson in lessonsList"  ng-disabled="!canEdit" multiple>
            </select>
          </div>
          <br>
          <h2 class="help-block">مهارت</h2>
          <div class="row">
            <div class="col-lg-12">
              <div class="margin" ng-repeat="skill in selectedUser.skills">
                <div class="input-group" >
                  <input type="text" class="form-control" ng-model="skill.title"  ng-disabled="!canEdit">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-flat" ng-click="removeSkill(selectedUser,$index)" ng-hide="!canEdit"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-block btn-default btn-flat" ng-click="addSkill(selectedUser);" ng-hide="!canEdit">افزودن</button>
            </div>
          </div>
          <br>
          <h2 class="help-block">توضیحات</h2>
          <div class="row">
            <div class="col-lg-12">
              <div class="margin" ng-repeat="comment in selectedUser._comments">
                <div class="input-group" >
                  <span class="input-group-addon pr pr-sml text-blue" ng-bind="getFullName(comment._writer)" ng-hide="!comment._writer"></span>
                  <input type="text" class="form-control" ng-model="comment.comment" ng-disabled="comment._writer">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-flat" ng-click="removeComment(selectedUser,$index);" ng-hide="comment._writer || !canEdit"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-block btn-default btn-flat" ng-click="addComment(selectedUser);" ng-hide="!canEdit">افزودن</button>
            </div>
          </div>
          <br>
          
        </div>
        <!-- /Content -->
        
        <!-- Overlay View -->
        <div ng-show="selectedUser == null" class="text-center">
          <h1><i class="fa fa-exclamation-circle text-blue"></i></h1>
          <h4>هیچ کاربری انتخاب نشده</h4>
        </div>
        <!-- /Overlay View -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer" ng-hide="!canEdit || !selectedUser">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-6">
            <button type="submit" class="btn btn-success btn-flat btn-block pr pr-sml" ng-disabled="Deactive || hasError()">ویرایش</button>
          </div>
        </div>
      </div>
      <div class="overlay text-center" ng-show="false"><i class="fa fa-refresh fa-spin"></i></div>
    </div>
  </div>
</div>
